
<div style="flex-direction: column;" class="sol_wave_bg">

    <div style="display: flex;">
        <div style="position: relative;left: 11%;bottom: 3rem;">
            <img src="/assets/img/Rectangle Copy 23.svg" width="75%" >
            <div class="get-paid-Instantly img-common-containet"></div>
            <div class="Get-terms-loans common-text-container"></div>
            
        </div>
        <div >
            <img src="/assets/img/Rectangle 2.svg" width="75%">
            <div class="freelancer_feature_icon img-common-containet"></div>
            <div class="Manage-banking common-text-container"></div>
        </div>
    </div>

    <div style="display: flex;">
        <div>
            <img src="/assets/img/Rectangle Copy 19.svg" width="75%">
            <div class="Low-interest-rate img-common-containet"></div>
            <div class="Achieve-your-financi common-text-container"></div>
        </div>
        <div >
            <img src="/assets/img/Rectangle Copy 25.svg" width="75%">
            <div class="Covid img-common-containet"></div>
            <div class="Zero-EMI-for-first-3 common-text-container"></div>
        </div>
    </div>

    <div style="display: flex;">
        <div>
            <img src="/assets/img/Rectangle Copy 17.svg " width="70%">
            <div class="Secure-Payments img-common-containet"></div>
        </div>
    </div>


</div>