.sol_wave_bg{
top: 1209px;
left: 0.0001220703125px;
width: 100%;
height: 936px;
background: transparent url('/assets/img/sol_wave_bg.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle-2{
    top: 1261px;
    left: 630px;
    width: 390px;
    height: 272px;
    background: transparent url('/assets/img/Rectangle\ 2.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    }

.Rectangle-Copy-19{
    top: 1450px;
    left: 191px;
    width: 391px;
    height: 276px;
    background: transparent url('/assets/img/Rectangle\ Copy\ 19.svg') 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;        
}

.Rectangle-Copy-23{
    // top: 1137px;
    // left: 191px;
    width: 100%;
    height: 253px;
    background: transparent url('/assets/img/Rectangle\ Copy\ 23.svg') 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;            
}

.Rectangle-Copy-25{
    top: 1593px;
    left: 630px;
    width: 390px;
    height: 253px;
    background: transparent url('/assets/img/Rectangle\ Copy\ 25.svg') 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;                
}

.Rectangle-Copy-17{
top: 1786px;
left: 191px;
width: 391px;
height: 276px;
background: transparent url('/assets/img/Rectangle\ Copy\ 17.svg') 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 30px #2321321F;
border: 1px solid #FFFFFF;
border-radius: 20px;
opacity: 1;          
}

.get-paid-Instantly{
background: transparent url('/assets/img/Get\ Paid\ Instantly.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Get-terms-loans{
background: transparent url('/assets/img/Get terms loans that.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.freelancer_feature_icon{
background: transparent url('/assets/img/freelancer_feature_icon_6@1.5x.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Manage-banking{
background: transparent url('/assets/img/Manage banking, acco.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}


.Low-interest-rate{
background: transparent url('/assets/img/Low\ interest\ rate.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Achieve-your-financi{
background: transparent url('/assets/img/Achieve your financi.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Covid{
background: transparent url('/assets/img/Covid.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Zero-EMI-for-first-3{
background: transparent url('/assets/img/Zero EMI for first 3.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Secure-Payments{
background: transparent url('/assets/img/Secure Payments.png') 0% 0% no-repeat padding-box;
opacity: 1
}

.img-common-containet{
position: relative;
bottom: 54%;
left: 10%;
width: 90px;
height: 90px;
background-size: cover;
}

.common-text-container{
position: relative;
bottom: 48%;
left: 10%;
width: 323px;
height: 38px;
}