<div class="header-container">

    <div style="flex: 40%;padding-left: 6rem;">
        <img src="/assets/img/logo.png" alt="Girl in a jacket" width="100" height="100">
    </div>

    <div style="flex: 60%;padding: 10px 50px;">
        <div style="display: flex;justify-content: flex-end;">
            <div class="text">Products</div>
            <div class="fxFlex"></div>
            <div class="text">Solutions</div>
            <div class="fxFlex"></div>
            <div class="text">Pricing</div>
            <div class="fxFlex"></div>
            <div>
                <button class="btn login">Login</button>
            </div>
            <div class="fxFlex"></div>
            <div>
                <button class="btn get-started">Get Started</button>
            </div>
        </div>
    </div>

</div>