<!-- <div class="circle"></div> -->
<div style="display: flex;">
    <!-- <div class="blob-small"></div>
    <div class="collect-img"></div>
    <div class="circle"></div>
    <div class="group-6"></div>
    <div class="text-img"></div>
    <div class="accounting-img"></div> -->
    <div style="flex-direction: column;">
        <div style="flex: 50%;margin: 6rem;">
            <img src="/assets/img/We make it Super Sim.svg" width="50%">
            <div class="border-bottm" style="border-bottom: 5px solid #663399;
            width: 6rem;"></div>
        </div>
        <div style="flex: 50%;margin: 6rem;">
            <img src="/assets/img/collect_img-video.png" width="50%">
        </div>
    </div>
    <div style="flex: 50%;" >
        <div style="display: flex; justify-content: flex-end;">
            <img src="/assets/img/Group 6.svg" width="68%">
        </div>
    </div>

</div>