.circle{
// background: transparent url('/assets/img/blob-small.svg') 0% 0% no-repeat padding-box;
opacity: 1;
background: transparent url('/assets/img/circle.svg') 0% 0% no-repeat padding-box;
}

.group-6{
width: 100%;
height: 675px;
background: transparent url('/assets/img/Group 6.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.blob-small{
position: relative;
left: -15%;
background: transparent url('/assets/img/blob-small.svg') 0% 0% no-repeat padding-box;
opacity: 1
}

.collect-img{
top: 466px;
left: 136px;
width: 652px;
height: 365px;
background: transparent url('/assets/img/collect_img-video.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.text-img{
top: 270px;
left: 189px;
width: 407px;
height: 98px;
background: transparent url('/assets/img/We\ make\ it\ Super\ Sim.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.accounting-img{
    width: 250px;
    height: 70px;
    background: transparent url('/assets/img/accounting_dots.svg') 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

.login-accounting{
    position: relative;
    bottom: 5%;
    left: 64%;
}

.collect{
    position: relative;
    left: 22%;
    bottom: 3rem;
}