<div style="display: flex;">

    <div style="flex-direction: column;" class="blob-small">
        <div style="flex: 50%;margin: 6rem;position: relative;left: 30%;">
            <img src="/assets/img/We make it Super Sim.svg" width="70%">
            <div class="border-bottm" style="border-bottom: 5px solid #663399;
            width: 6rem;"></div>
        </div>
        <div style="flex: 50%;margin: 6rem;position: relative;left: 30%;">
            <img src="/assets/img/collect_img-video.png" width="50%">
            <div class="collect accounting-img"></div>
        </div>
    </div>
    <div style="flex: 50%;" class="circle">
        <div style="display: flex; justify-content: flex-end;position: relative;top: 30%; ">
            <img src="/assets/img/Group 6.svg" width="68%">
        </div>
        <div class="accounting-img login-accounting"></div>
    </div>

</div>